.bxslider{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translateX(-50%);
}
.slides{
  display: none;
  position: absolute;
  z-index: 1;
}
.slides.active{
  display: block;
}
.prev , .next{
  position: absolute;
  color: white;
  width: auto;
  font-size: 30px;
  height: 50px;
  padding: 8px;
  min-width: 50px;
  background: rgba(80, 80, 80, 0.75);
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.next{
  left: 714px;
}
.controls {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10px;
}
.blur {
  position: absolute;
  bottom: 0;
  width: 800px;
  height: 50px;
  background-color: rgba(80, 80, 80, 0.75);
  z-index: 1;
}
.blur p {
  color: white;
  margin-left: 20px;
}
.dots {
  left: 50%;
  z-index: 9999;
  position: absolute;
  transform: translateX(-50%);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: silver;
  border-radius: 50%;
  display: inline-block;
  margin-top: 500px;
}
.dot.active {
  background-color: black;
}
.dot:hover {
  background-color: black;
}